@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Photo List</h1>
    <h5 class="display-5 fst-italic">Welcome to your favourite WebSite.</h5>
    <a class="btn btn-primary" asp-controller="Photo" asp-action="Index">My Photos</a>
</div>

