@{
    Layout = null;
}

@model LoginDTO

<div class="card shadow p-4">
    <h3 class="mb-4">Login</h3>
    <form>
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your Email">
        </div>
        <div class="mb-3">
            <label for="Phone" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your Phone">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
